@import '../core/variables';
body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    min-height: 100vh;
    background-image: linear-gradient( to bottom right, $pink-light-color, $cyan-light-color);
    padding: 5vh 1.5rem;
    background-attachment: fixed;
    &::before {
        content: ' ';
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color: $green-yellow-color;
        z-index: -1;
        opacity: 0.12;
    }
}