.contact {
    .contact-form {
        width: 50%;
        padding: 0 1.5rem;
        .input-group {
            width: 100%;
            margin-bottom: 3rem;
            .input-control {
                display: block;
                width: 100%;
                height: 5rem;
                border-radius: 2.5rem;
                border: none;
                font-family: inherit;
                font-weight: 400;
                font-size: 1.6rem;
                background-color: $white-alpha-25;
                padding: 0 3rem;
                color: $blue-dark-color;
                border: 1px solid transparent;
                transition: border 0.3s ease-in-out;
                &::placeholder {
                    color: $blue-dark-color;
                    opacity: 0.8;
                    font-weight: 300;
                }
                &:focus {
                    border-color: $white-alpha-40;
                }
            }
        }
    }
    .contact-info {
        width: 50%;
        padding: 0 1.5rem;
        .contact-info-item {
            margin: 0 0 3rem;
            padding: 0 0 0 2rem;
            h3 {
                font-size: 2rem;
                text-transform: capitalize;
                margin: 0 0 0.5rem;
            }
            //  links
            .social-links a {
                display: inline-flex;
                height: 4rem;
                width: 4rem;
                background-color: $white-alpha-25;
                align-items: center;
                justify-content: center;
                color: $blue-dark-color;
                border-radius: 50%;
                border: 1px solid $white-alpha-40;
                margin: 1rem 1rem 0 0;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: $white-color;
                    background-color: $blue-dark-color;
                }
            }
        }
    }
}