.btn {
    line-height: 1.5;
    background-color: $white-alpha-25;
    padding: 1rem 2.8rem;
    margin: 0 1.5rem 1.5rem 0;
    display: inline-block;
    border-radius: 3rem;
    color: $main-color;
    font-weight: 500;
    font-size: 1.5rem;
    text-transform: capitalize;
    border: 1px solid $white-alpha-40;
    font-family: inherit;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
    &::before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 0%;
        background-color: $main-color;
        z-index: -1;
        transition: width 0.3s ease;
    }
    &:hover::before {
        width: 100%;
    }
    &:hover {
        color: $white-color;
    }
}

.btn-tab-item {
    padding: 0.2rem 0;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    display: inline-block;
    color: $blue-dark-color;
    font-size: 2rem;
    cursor: pointer;
    font-weight: 500;
    margin: 0 3rem 0 0;
    position: relative;
    opacity: 0.5;
    transition: all 0.3s ease;
    &:hover::before {
        width: 100%;
    }
    &::before {
        content: ' ';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 1px;
        background-color: $blue-dark-color;
        transition: width ease 0.3s;
    }
    &:last-child {
        margin: 0;
    }
}

.active {
    color: $main-color;
    opacity: 1;
    cursor: auto;
    &::before {
        width: 100%;
        background-color: $main-color;
    }
}