@import '../ui/section';
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

// zoomInOut
@keyframes zoomInOut {
    0%,
    100% {
        transform: scale(0.5);
    }
    50% {
        transform: scale(1);
    }
}

// bounceTop
@keyframes bounceTop {
    0%,
    100% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(50px);
    }
}