//  Global settings
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

h1,
h2 {
    font-weight: 600;
}

h3,
h4,
h5,
h6 {
    font-weight: 500;
}

p {
    font-size: 1.6rem;
}

span {
    font-size: 1.5rem;
}

a {
    text-decoration: none;
}

button {
    font-family: inherit;
    user-select: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.hidden {
    display: none !important;
}

.flex-end {
    justify-content: flex-end;
}