//  colors
$main-color: #e02f6b;
$blue-color: #0000ff;
$blue-dark-color: #18293c;
$orange-color: #ffa500;
$green-yellow-color: #cddc39;
$pink-light-color: #efa2b4;
$cyan-light-color: #aef1ee;
$white-color: #ffffff;
$white-alpha-40: rgba(255, 255, 255, 0.4);
$white-alpha-25: rgba(255, 255, 255, 0.25);
$backdrop-filter-blur: blur(5px);