@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none; }

::before,
::after {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  line-height: 1.5;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent; }

h1,
h2 {
  font-weight: 600; }

h3,
h4,
h5,
h6 {
  font-weight: 500; }

p {
  font-size: 1.6rem; }

span {
  font-size: 1.5rem; }

a {
  text-decoration: none; }

button {
  font-family: inherit;
  user-select: none; }

ul {
  list-style: none; }

img {
  max-width: 100%;
  vertical-align: middle; }

.row {
  display: flex;
  flex-wrap: wrap; }

.align-items-center {
  align-items: center; }

.hidden {
  display: none !important; }

.flex-end {
  justify-content: flex-end; }

/* Medium devices (landscape tablets, 768px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Medium devices (landscape tablets, 992px and up) */
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  min-height: 100vh;
  background-image: linear-gradient(to bottom right, #efa2b4, #aef1ee);
  padding: 3.5rem 1.5rem;
  background-attachment: fixed; }
  body .hide-scrolling {
    overflow-y: hidden; }
  body::before {
    content: ' ';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #cddc39;
    z-index: -1;
    opacity: 0.12; }

::-webkit-scrollbar {
  width: 0.5rem; }

::-webkit-scrollbar-track {
  background-color: #ffffff; }

::-webkit-scrollbar-thumb {
  background-color: #e02f6b; }

section {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  min-height: calc(100vh - 7rem);
  border-radius: 3rem;
  backdrop-filter: blur(5px);
  display: none; }
  section .title {
    padding: 0 1.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 4rem; }
    section .title h2 {
      font-size: 4rem;
      text-transform: capitalize;
      color: #18293c; }
      @media screen and (max-width: 575px) {
        section .title h2 {
          font-size: 3.5rem; } }

section.active {
  display: block;
  animation: fadeIn 0.5s ease-in-out; }

section.fade-out {
  animation: fadeOut 0.5s ease-in-out; }

.sec-padding {
  padding: 8rem 0; }

.main {
  max-width: 120rem;
  margin: auto;
  transition: all 0.3s ease-in-out;
  position: relative; }

.fade-out {
  opacity: 0; }

.container {
  width: 100%;
  padding: 0 4rem; }
  @media only screen and (max-width: 992px) {
    .container {
      padding: 0; } }

.btn {
  line-height: 1.5;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 1rem 2.8rem;
  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  border-radius: 3rem;
  color: #e02f6b;
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: capitalize;
  border: 1px solid rgba(255, 255, 255, 0.4);
  font-family: inherit;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  transition: color 0.3s ease; }
  .btn::before {
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: #e02f6b;
    z-index: -1;
    transition: width 0.3s ease; }
  .btn:hover::before {
    width: 100%; }
  .btn:hover {
    color: #ffffff; }

.btn-tab-item {
  padding: 0.2rem 0;
  background-color: transparent;
  border: none;
  text-transform: capitalize;
  display: inline-block;
  color: #18293c;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 500;
  margin: 0 3rem 0 0;
  position: relative;
  opacity: 0.5;
  transition: all 0.3s ease; }
  .btn-tab-item:hover::before {
    width: 100%; }
  .btn-tab-item::before {
    content: ' ';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background-color: #18293c;
    transition: width ease 0.3s; }
  .btn-tab-item:last-child {
    margin: 0; }

.active {
  color: #e02f6b;
  opacity: 1;
  cursor: auto; }
  .active::before {
    width: 100%;
    background-color: #e02f6b; }

.home {
  padding: 12rem 0; }
  .home-text {
    width: 50%;
    padding: 1.5rem;
    color: #18293c; }
    @media only screen and (max-width: 992px) {
      .home-text {
        width: 100%;
        text-align: center; } }
    .home-text p {
      font-size: 1.8rem; }
    .home-text h1 {
      font-size: 5rem;
      text-transform: capitalize; }
      @media screen and (max-width: 575px) {
        .home-text h1 {
          font-size: 3rem; } }
    .home-text h2 {
      font-size: 2.5rem;
      text-transform: capitalize;
      font-weight: 300;
      margin: 0 0 3rem; }
      @media screen and (max-width: 575px) {
        .home-text h2 {
          font-size: 1.8rem; } }
  .home-img {
    width: 50%;
    padding: 10rem 1.5rem; }
    @media only screen and (max-width: 992px) {
      .home-img {
        width: 100%;
        order: -1; } }
    .home-img .img-box {
      max-width: 36rem;
      background-color: rgba(255, 255, 255, 0.25);
      border-radius: 50%;
      border: 0.8rem solid rgba(255, 255, 255, 0.25);
      margin: auto; }
      @media only screen and (max-width: 992px) {
        .home-img .img-box {
          max-width: 30rem; } }
      .home-img .img-box img {
        width: 100%;
        border-radius: 50%; }

.active {
  display: flex; }

@media only screen and (max-width: 992px) {
  .home-text .btn {
    margin: 0 0.7rem 1.5rem; } }

.about .about-img {
  width: 40%;
  padding: 0 1.5rem; }
  @media only screen and (max-width: 768px) {
    .about .about-img {
      width: 100%; } }
  .about .about-img .img-box {
    background-color: rgba(255, 255, 255, 0.25);
    max-width: 30rem;
    margin: auto;
    border-radius: 1rem; }
    .about .about-img .img-box img {
      width: 100%; }
.about .about-text {
  width: 60%;
  padding: 0 1.5rem; }
  .about .about-text p {
    color: #18293c;
    font-size: 1.8rem; }
  @media only screen and (max-width: 768px) {
    .about .about-text {
      width: 100%;
      margin-top: 3rem; } }
  .about .about-text h3 {
    text-transform: capitalize;
    font-size: 2rem;
    margin: 2rem 0;
    color: #18293c; }
  .about .about-text .about-skills {
    display: flex;
    flex-wrap: wrap; }
    .about .about-text .about-skills .item {
      background-color: rgba(255, 255, 255, 0.25);
      border: 1px solid rgba(255, 255, 255, 0.4);
      padding: 0.5rem 1.5rem;
      text-transform: uppercase;
      margin: 0 1rem 1rem 0;
      border-radius: 2rem;
      color: #18293c;
      font-weight: 500;
      font-size: 1.6rem; }
  .about .about-text .about-tabs {
    margin-top: 2rem;
    display: flex; }
  .about .about-text .tab-content {
    padding: 4rem 0;
    display: none; }
    .about .about-text .tab-content .timeline {
      position: relative; }
      .about .about-text .tab-content .timeline::before {
        content: ' ';
        position: absolute;
        height: 100%;
        width: 1px;
        top: 0;
        left: 0.5rem;
        background-color: #e02f6b; }
      .about .about-text .tab-content .timeline-item {
        margin-bottom: 3rem;
        position: relative;
        padding: 1rem 0 0 4rem; }
        .about .about-text .tab-content .timeline-item::before {
          content: ' ';
          position: absolute;
          height: 1.1rem;
          width: 1.1rem;
          background-color: #e02f6b;
          left: 0;
          top: 1.6rem;
          border-radius: 50%; }
        .about .about-text .tab-content .timeline-item .date {
          display: block;
          color: #e02f6b;
          font-weight: 400;
          margin: 0 0 1rem; }
        .about .about-text .tab-content .timeline-item h4 {
          font-size: 1.8rem;
          text-transform: capitalize;
          margin: 0 0 1rem;
          color: #18293c; }
          .about .about-text .tab-content .timeline-item h4 span {
            font-weight: 400;
            font-size: 1.8rem; }
        .about .about-text .tab-content .timeline-item:last-child {
          margin-bottom: 0; }
  .about .about-text .active {
    display: block; }
  .about .about-text .btn {
    margin: 0 1.5rem 1.5rem 0; }

.portfolio {
  padding-bottom: 5rem; }
  .portfolio-item {
    width: calc((100% / 3) -3rem);
    margin: 0 1.5rem 3rem; }
    @media only screen and (max-width: 992px) {
      .portfolio-item {
        width: calc((50% - 3rem)); } }
    @media only screen and (max-width: 768px) {
      .portfolio-item {
        width: calc((100% - 3rem)); } }
    .portfolio-item-thumbnail {
      padding: 1rem;
      background-color: rgba(255, 255, 255, 0.25);
      border: 1px solid rgba(255, 255, 255, 0.4);
      border-radius: 1rem; }
      .portfolio-item-thumbnail img {
        width: 100%;
        border-radius: 1rem; }
    .portfolio-item-details {
      display: none; }
    .portfolio-item-title {
      font-size: 2rem;
      text-transform: capitalize;
      margin: 2rem 0; }

.portfolio-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  visibility: hidden; }
  .portfolio-popup .pp-inner {
    min-height: 100vh;
    padding: 4rem 1.5rem;
    display: flex;
    justify-content: center; }
    @media only screen and (max-width: 768px) {
      .portfolio-popup .pp-inner {
        padding: 3rem 1.5rem; } }
    .portfolio-popup .pp-inner .pp-content {
      background-color: rgba(255, 255, 255, 0.25);
      padding: 3rem;
      border-radius: 3rem;
      max-width: 90rem;
      width: 100%;
      border: 1px solid rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(5px); }
      .portfolio-popup .pp-inner .pp-content .pp-header {
        position: relative; }
        .portfolio-popup .pp-inner .pp-content .pp-header h3 {
          font-size: 2.5rem;
          text-transform: capitalize;
          margin: 2rem 0 1.5rem; }
          @media screen and (max-width: 575px) {
            .portfolio-popup .pp-inner .pp-content .pp-header h3 {
              font-size: 2rem; } }
        .portfolio-popup .pp-inner .pp-content .pp-header .btn {
          height: 4rem;
          width: 4rem;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: -4rem;
          top: -4rem; }
        .portfolio-popup .pp-inner .pp-content .pp-header .pp-thumbnail img {
          border-radius: 1rem; }
      .portfolio-popup .pp-inner .pp-content .pp-body .description {
        margin-bottom: 2rem; }
        .portfolio-popup .pp-inner .pp-content .pp-body .description p {
          font-size: 1.8rem; }
      .portfolio-popup .pp-inner .pp-content .pp-body .general-info li {
        margin-bottom: 1rem;
        font-weight: 500;
        text-transform: capitalize;
        font-size: 1.8rem; }
        .portfolio-popup .pp-inner .pp-content .pp-body .general-info li span {
          font-weight: 300;
          font-size: 1.8rem; }
        .portfolio-popup .pp-inner .pp-content .pp-body .general-info li a {
          text-transform: lowercase;
          color: #e02f6b; }

.open {
  visibility: visible;
  overflow-y: auto; }

.contact .contact-form {
  width: 50%;
  padding: 0 1.5rem; }
  @media only screen and (max-width: 768px) {
    .contact .contact-form {
      width: 100%; } }
  .contact .contact-form .input-group {
    width: 100%;
    margin-bottom: 3rem; }
    .contact .contact-form .input-group .input-control {
      display: block;
      width: 100%;
      height: 5rem;
      border-radius: 2.5rem;
      border: none;
      font-family: inherit;
      font-weight: 400;
      font-size: 1.6rem;
      background-color: rgba(255, 255, 255, 0.25);
      padding: 0 3rem;
      color: #18293c;
      border: 1px solid transparent;
      transition: border 0.3s ease-in-out; }
      .contact .contact-form .input-group .input-control::placeholder {
        color: #18293c;
        opacity: 0.8;
        font-weight: 300; }
      .contact .contact-form .input-group .input-control:focus {
        border-color: rgba(255, 255, 255, 0.4); }
.contact .contact-info {
  width: 50%;
  padding: 0 1.5rem; }
  @media only screen and (max-width: 768px) {
    .contact .contact-info {
      width: 100%;
      order: -1;
      margin-bottom: 1.5rem; } }
  .contact .contact-info .contact-info-item {
    margin: 0 0 3rem;
    padding: 0 0 0 2rem; }
    @media only screen and (max-width: 768px) {
      .contact .contact-info .contact-info-item {
        padding: 0; } }
    .contact .contact-info .contact-info-item h3 {
      font-size: 2rem;
      text-transform: capitalize;
      margin: 0 0 0.5rem;
      color: #18293c; }
    .contact .contact-info .contact-info-item p {
      color: #18293c; }
    .contact .contact-info .contact-info-item .social-links a {
      display: inline-flex;
      height: 4rem;
      width: 4rem;
      background-color: rgba(255, 255, 255, 0.25);
      align-items: center;
      justify-content: center;
      color: #18293c;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.4);
      margin: 1rem 1rem 0 0;
      transition: all 0.3s ease-in-out; }
      .contact .contact-info .contact-info-item .social-links a:hover {
        color: #ffffff;
        background-color: #18293c; }

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 2rem 0 0; }
  .header .nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 3.5rem 1.5rem;
    overflow-y: auto;
    visibility: hidden; }
    .header .nav .nav-inner {
      min-height: calc((100vh - 70px));
      background-color: rgba(255, 255, 255, 0.25);
      max-width: 120rem;
      margin: auto;
      border: 1px solid rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(5px);
      padding: 5rem 0;
      border-radius: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: all 0.5s ease; }
      .header .nav .nav-inner ul li {
        text-align: center; }
        .header .nav .nav-inner ul li a {
          font-size: 4rem;
          text-transform: capitalize;
          color: #18293c;
          display: block;
          font-weight: 500;
          padding: 0.8rem 1.5rem;
          transition: color 0.3s ease;
          position: relative; }
          @media screen and (max-width: 575px) {
            .header .nav .nav-inner ul li a {
              font-size: 3.5rem; } }
          .header .nav .nav-inner ul li a:hover {
            color: #e02f6b; }
            .header .nav .nav-inner ul li a:hover::before {
              width: 100%; }
          .header .nav .nav-inner ul li a::before {
            content: ' ';
            position: absolute;
            right: 0;
            bottom: 0;
            height: 50%;
            background-color: rgba(255, 255, 255, 0.25);
            width: 0%;
            z-index: -1;
            transition: width 0.3s ease; }

.header.active {
  position: fixed;
  top: 3.5rem;
  padding: 2rem 1.5rem; }

.header.active .container {
  max-width: 120rem;
  margin: auto; }

.header.active .nav {
  visibility: visible; }

.nav-toggler {
  width: 5rem;
  height: 4rem;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.5rem;
  z-index: 1;
  transition: opacity 0.5s ease; }
  .nav-toggler span {
    height: 2px;
    width: 2.4rem;
    background-color: #e02f6b;
    position: relative;
    transition: background-color; }
    .nav-toggler span::before {
      left: 0;
      transform: translateY(-8px); }
    .nav-toggler span::after {
      right: 0;
      transform: translateY(8px); }
    .nav-toggler span::before, .nav-toggler span::after {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: #e02f6b;
      transition: all 0.3s ease; }

.header.active .nav-inner {
  opacity: 1; }

.header.active .nav-toggler {
  background-color: transparent; }

.header.active .nav-toggler span {
  background-color: transparent; }

.header .nav-toggler.hide {
  opacity: 0;
  transition: none; }

.header.active .nav-toggler span::before {
  transform: rotate(45deg); }

.header.active .nav-toggler span::after {
  transform: rotate(-45deg); }

.header:not(.active) .nav-toggler:hover span::before,
.header:not(.active) .nav-toggler:hover span::after {
  width: 50%; }

section {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  min-height: calc(100vh - 7rem);
  border-radius: 3rem;
  backdrop-filter: blur(5px);
  display: none; }
  section .title {
    padding: 0 1.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 4rem; }
    section .title h2 {
      font-size: 4rem;
      text-transform: capitalize;
      color: #18293c; }
      @media screen and (max-width: 575px) {
        section .title h2 {
          font-size: 3.5rem; } }

section.active {
  display: block;
  animation: fadeIn 0.5s ease-in-out; }

section.fade-out {
  animation: fadeOut 0.5s ease-in-out; }

.sec-padding {
  padding: 8rem 0; }

.main {
  max-width: 120rem;
  margin: auto;
  transition: all 0.3s ease-in-out;
  position: relative; }

.fade-out {
  opacity: 0; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes zoomInOut {
  0%,
    100% {
    transform: scale(0.5); }
  50% {
    transform: scale(1); } }
@keyframes bounceTop {
  0%,
    100% {
    transform: translateY(-50px); }
  50% {
    transform: translateY(50px); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.5;
  background-color: transparent;
  z-index: 200;
  visibility: hidden; }

.overlay.active {
  visibility: visible; }

section {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  min-height: calc(100vh - 7rem);
  border-radius: 3rem;
  backdrop-filter: blur(5px);
  display: none; }
  section .title {
    padding: 0 1.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 4rem; }
    section .title h2 {
      font-size: 4rem;
      text-transform: capitalize;
      color: #18293c; }
      @media screen and (max-width: 575px) {
        section .title h2 {
          font-size: 3.5rem; } }

section.active {
  display: block;
  animation: fadeIn 0.5s ease-in-out; }

section.fade-out {
  animation: fadeOut 0.5s ease-in-out; }

.sec-padding {
  padding: 8rem 0; }

.main {
  max-width: 120rem;
  margin: auto;
  transition: all 0.3s ease-in-out;
  position: relative; }

.fade-out {
  opacity: 0; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes zoomInOut {
  0%,
    100% {
    transform: scale(0.5); }
  50% {
    transform: scale(1); } }
@keyframes bounceTop {
  0%,
    100% {
    transform: translateY(-50px); }
  50% {
    transform: translateY(50px); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.bg-circles {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 120rem;
  width: calc(100% - 3rem);
  left: 50%;
  transform: translateX(-50%); }
  .bg-circles div {
    position: absolute;
    border-radius: 50%; }
  .bg-circles .circle-1 {
    width: 6rem;
    height: 6rem;
    background-color: blue;
    left: 5%;
    top: 10%;
    opacity: 0.3;
    animation: zoomInOut 8s linear infinite; }
  .bg-circles .circle-2 {
    height: 8rem;
    width: 8rem;
    background-color: #e02f6b;
    left: 30%;
    top: 50%;
    opacity: 0.4;
    animation: bounceTop 5s ease-in-out infinite; }
  .bg-circles .circle-3 {
    width: 12rem;
    height: 12rem;
    background-color: #ffffff;
    bottom: 10%;
    right: 2%;
    opacity: 0.5; }
  .bg-circles .circle-4 {
    height: 5rem;
    width: 5rem;
    background-color: #ffa500;
    top: 80%;
    left: -3rem;
    opacity: 0.6; }

section {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  min-height: calc(100vh - 7rem);
  border-radius: 3rem;
  backdrop-filter: blur(5px);
  display: none; }
  section .title {
    padding: 0 1.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 4rem; }
    section .title h2 {
      font-size: 4rem;
      text-transform: capitalize;
      color: #18293c; }
      @media screen and (max-width: 575px) {
        section .title h2 {
          font-size: 3.5rem; } }

section.active {
  display: block;
  animation: fadeIn 0.5s ease-in-out; }

section.fade-out {
  animation: fadeOut 0.5s ease-in-out; }

.sec-padding {
  padding: 8rem 0; }

.main {
  max-width: 120rem;
  margin: auto;
  transition: all 0.3s ease-in-out;
  position: relative; }

.fade-out {
  opacity: 0; }

@keyframes fadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes zoomInOut {
  0%,
    100% {
    transform: scale(0.5); }
  50% {
    transform: scale(1); } }
@keyframes bounceTop {
  0%,
    100% {
    transform: translateY(-50px); }
  50% {
    transform: translateY(50px); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
section {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.4);
  min-height: calc(100vh - 7rem);
  border-radius: 3rem;
  backdrop-filter: blur(5px);
  display: none; }
  section .title {
    padding: 0 1.5rem;
    width: 100%;
    text-align: center;
    margin-bottom: 4rem; }
    section .title h2 {
      font-size: 4rem;
      text-transform: capitalize;
      color: #18293c; }
      @media screen and (max-width: 575px) {
        section .title h2 {
          font-size: 3.5rem; } }

section.active {
  display: block;
  animation: fadeIn 0.5s ease-in-out; }

section.fade-out {
  animation: fadeOut 0.5s ease-in-out; }

.sec-padding {
  padding: 8rem 0; }

.main {
  max-width: 120rem;
  margin: auto;
  transition: all 0.3s ease-in-out;
  position: relative; }

.fade-out {
  opacity: 0; }

.page-loader {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.6s ease; }
  .page-loader .loader {
    border: 2px solid transparent;
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    animation: spin 1s linear infinite; }
    .page-loader .loader:nth-child(1) {
      height: 6rem;
      width: 6rem;
      border-color: #e02f6b; }
    .page-loader .loader:nth-child(2) {
      height: 4.5rem;
      width: 4.5rem;
      border-color: #0000ff;
      animation-duration: 1.2s; }
    .page-loader .loader:nth-child(3) {
      height: 3rem;
      width: 3rem;
      border-color: #ffa500; }

.page-loader.fade-out {
  opacity: 0; }
